*
{
    
    border-radius: 5px;
    color: #ffffff;
}


#backvid
{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -5;
}

.full
{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: #000000;
    top: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
    border-radius: 0;
    font-family: sans-serif;
}

.fullinhalt
{
    margin-top: 15vh;
    padding: 0 30vw;
    line-height: 1.7em;
}

.fullinhalt p
{
    font-size: 1.2em;
}

.mobile
{
    display: none;
}

.wahl
{
    margin-bottom: 10px;
}

button
{
    padding: 10px;
    background: #222;
    border-style: none;
    min-width: 100px;
    transition: 0.7s;
}

button:hover
{
    filter: brightness(150%);
    cursor: pointer;
}

#startbutton
{
    font-size: 14pt;
}

#startbutton:hover
{
    cursor: pointer;
}

header, main, footer, nav
{
    width: 70%;
    max-width: 1500px;
    padding: 1%;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}

nav
{
    text-align: right;
}



button
{
    font-family: 'Playfair Display', serif;
}

main
{
    min-height: 700px;
}

header
{
    height: 200px;
    overflow: hidden;
    width: 72%;
    padding: 0;
}

.kopf
{
    overflow: hidden;
    height: 300px;
    width: 100%;
    padding-top: 60px;
    margin: 0;
    text-align: center;
    z-index: 100;
    background-size: cover;
}

#headsteine
{

    background-image: url(../img/steine/stonesdark.jpg);
}

#headgames
{
    background-image: url(../img/games/gamesdark.jpg);
    background-position:left bottom;
}

#headwein
{
    background-image: url(../img/wein/weindark.jpg);
    background-position:left bottom;

}

#beschreibungstext
{
    font-family: 'PT Sans', sans-serif;
}

article
{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    
}

.produkt
{
    width: 15.7%;
    margin: 1%;
    border-width: 1px;
    padding: 1%;
    transition: 0.3s;
    background: #333333;
    /* opacity: 0.8 !important	; */
}

.produkt:hover
{
    cursor: pointer;
    box-shadow: 0px 0px 15px 1px rgba(212, 210, 196, 0.801);
}


.produktbild
{
    height: 150px;
    width: 100%;
    background: #596c68;
}

#einzelprodukt
{
    display: none;
    opacity: 0;
}

#warenkorbbox
{
    display: none;
    opacity: 0;
}

.warenkorbprodukt
{
    width: 100%;
    display: flex;
    margin-bottom: 10px;

}

.warenkorbproduktbild
{
    height: 100px;
    flex: 1;
    margin-right: 10px;
}

.warenkorbproduktbeschriftung
{
    flex: 4;
    text-align: left;
}

#grossbild
{
    height: 300px;
    background: #333;
    flex: 1;
    padding: 1%;
    margin: 1%;
}

#infotext
{
    height: 300px;
    background: #666;
    flex: 2;
    padding: 1%;
    margin: 1%;
    text-align: left;
}

#beschreibung
{
    text-align: left;
}


@media (max-width: 1024px) { 
    .mobile{
        display: block;
    }
}